PORT=3000
MONGO_URI="mongodb+srv://Tanmay:4AyQtWKkUYtrtGTl@majorproj.5x7urr6.mongodb.net/clgProj"
JWT_SECRET="5bbfec37833656be12a5ae069b92d8e23ff9e0a1586f8c5d61d1bff2ce24e1fb"
CLIENT_URL=http://localhost:3000
NODE_ENV=development
